<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/oxm https://www.springframework.org/schema/oxm/spring-oxm.xsd">

    <bean id="school" class="a.b.c.School">
        <property name="name" value="一中"/>
    </bean>
    <bean id="student" class="a.b.c.Student">
        <constructor-arg index="0" ref="school"/>
        <constructor-arg index="1" value="studentXml"/>
    </bean>

</beans>